
/*Feuille de style CSS repsponsive*/

/*-------------------*/
/*---Bloc du header---*/
/*-------------------*/

@media screen and (max-width: 768px)
{
	body
	{
		width: 100vw;
	}

	.page
	{
		width: 100vw;
		display: inline-block;
		flex-direction: column;
	}

/*En-tête*/
	#header
	{
		width: 100vw;
		height: 240px;
		display: flex;
		flex-direction: column;
	}

	#logo
	{
		width: 100vw;
		margin: 25px 50px 25px 80px;
		

	}

	nav
	{
		width: 100vw;
	}

	nav li
	{
		display: block;
		text-decoration: underline;
		font-size: 14px;
		border-left: 3px solid grey;
		padding: 4px 30px;
	}

	nav ul
	{
		width: 100vw;
		margin: 0px 0px 0px 25px;
		padding: 0px;
	}

	#main-nav
	{
		float: none;
	}
/*Corps*/
	.image-slider
	{
		background-image: none;
		width: 100vw;
		height: 300px;
	}

	.fleches
	{
		display: none;
	}

	#text-section
	{
		margin: 0px 0px 0px 0px;
		width: 100vw;
		height: 300px;
	}

	h1
	{
		margin: 0px 0px 0px 40px;
		font-size: 25px;
	}

	.titre-sans-couleur 
	{
		color: grey;
	}
	.phrase1
	{
		margin: 5px 0px 17px 40px; 
		color: grey;
	}

	#lien-info
	{
		margin-left: 40px;
	}

/*Services*/

	#les-services
	{
	width: 100vw;
	}

	

}